@import "tailwindcss";
html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  background-image: url("/src/assets/bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  /* fallback color */
  background-color: #0f172a;

  color: #e5e7eb;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, sans-serif;
}
